html {
    scroll-behavior: smooth;
}

body {
    background: #111;
    color: white;
    font-family: Arial;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    gap: 40px;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 200px;
    height: 200px;

    border-radius: 50%;

    object-fit: cover;

    border: 4px solid white;

    margin-bottom: 20px;
    transition: 0.3s;
}


.profile-pic:hover {
    transform: scale(1.05);
}

#hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

#about {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.intro-box {
    width: 60%;

    padding: 20px;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.3s;
}

.intro-box:hover {
    transform: translateY(-5px);
}

.intro-box p {
    margin: 0;
}